conda==23.1.0
keras==2.8.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.1.2
librosa==0.7.2
matplotlib==3.5.1
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
numpy==1.23.0
tensorflow==2.8.0
tensorflow-addons==0.16.1
tensorflow-datasets==4.5.2
tensorflow-estimator==2.3.0
tensorflow-gan==2.1.0
tensorflow-gpu==2.3.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.23.1
tensorflow-metadata==1.7.0
tensorflow-probability==0.7.0
